body{
    background-color:#e9e9e9;
    margin:0px;
    padding:0px;
}
header{
    background-color: cadetblue;
    min-height: 10vh;
    text-align: center;
    color:white;
}
header > h1{
    font-size: 5em;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform:uppercase;

}

main{
    padding:0px;
}

#Comidas{
    background-color: #ecd5d5;
    padding: 3%;

}
#comidas-img-1{
    margin: 0px;
    text-align: center;
}
#comidas-img-1>img{
    width: 50wh;
    height: 40vh;
    transition: 1s;
}

#comidas-img-1>img:hover{
    width: 55vh;
    height: 44vh;
    transition: 1s;
}

#comidas-img-1 >figcaption{
    font: size 2rem;
}
.titulo-españa{
    font-size: 4rem;
    transition: 1s;
}

.titulo-españa:hover{
    background-color: brown;
    transition: 1s;
}
.content-fig{
    width: 50vw;
    height: 45vh;
}



#Española > ul > li{
    font-size: 3rem;
}
#comidas-img-2 >img{
    width: 40vw;
    height:38vh;
}
#comidas-img-2 > figcaption{
    font-size: 3.5rem;
}
footer{
    background-color: rgb(27, 86, 88);
    min-height: 5vh;
    text-align: center;
}
footer > address > a{
    font-size: 2em;
    color: white;
    text-transform: uppercase;
}
